<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean id="address" class="org.perscholas.beans.Address">
		<property name="streetAddress" value="123 oak Street"></property>
		<property name="city" value="Germantown"></property>
		<property name="state" value="OH" />
		<property name="zipCode" value="55566"></property>
	</bean>
	<bean id="Fred" class="org.perscholas.beans.Person">
		<property name="firstName" value="Fred"></property>
		<property name="lastName" value="Flinstone"></property>
		<property name="age" value="24"></property>
		<property name="gender" value="2 Spirit"></property>
		<property name="address" ref="address"></property>
	</bean>
</beans>

